@import '../../styles/settings.scss';

.columnForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  span {
    padding: 10px;
  }

  @media (max-width: 767px) {
    .columnForm {
      flex-direction: column;
    }
    span {
      flex-direction: column;
    }
  }